dj-database-url==0.5.0
Django==4.0.2
django-admin-black @ git+https://github.com/app-generator/django-admin-black.git@7aad32ca7398bc2870af538506fbf5e3a9ba102f
django-allauth==0.45.0
django-braces==1.14.0
django-cors-headers==3.10.0
django-cors-middleware==1.5.0
django-crispy-forms==1.13.0
django-environ==0.4.5
django-heroku==0.3.1
django-import-export==2.7.1
djangorestframework==3.12.4
urllib3==1.26.6

