.passbook{
    color:#8965d8;
    box-shadow: inset 0.25rem 0 0 0 #805ad5;
    --gradient-from-color: #e9d8fd;
    --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(233, 216, 253, 0));
}

.pass-header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.debited{
    color:red!important;
    overflow:hidden;
  white-space: nowrap;
}

.credited{
    color:green!important;
    overflow:hidden;
  white-space: nowrap;
}

td,th{
    white-space:nowrap;
    overflow: hidden;
}
