{% extends 'base.html'%}
{%load static%}


{% block titleblock %}
Payment portal
{% endblock %}

{% block bodyblock %}

<h3>Payment portal</h3>
<form method="post" action="/portal">
    {% csrf_token %}
    
    <input class="form-control" type="text" placeholder="Account number of receiver" name="receiver_account">
    <input class="form-control" type="text" placeholder="IFSC_CODE" name="ifsc_code">
    <input class="form-control" type="text" placeholder="Amount" name="money_to_transfer">
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
{% endblock %}