{% extends 'base.html' %} 
{% load static %}
{% block titleblock %} Update Profile {% endblock %}
{% block bodyblock %}


{% include 'header.html' %}
<link rel='stylesheet' href="{% static 'css/updater.css'%}">
<div class="container mt-10">
  <div
    class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 edit_information"
  >
    <form action="/updater" method="POST" id="up-form" class="container-fluid info">
      {% csrf_token%}
      
      <p class="head h2 text-center mb-10">Account Settings</>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="profile_details_text">First Name:</label>
            <input
              type="text"
              name="first_name"
              class="form-control"
              value=""
              placeholder="{{customer.first_name}}"
            />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="profile_details_text">Last Name: </label>
            <input
              type="text"
              name="last_name"
              class="form-control"
              value=""
              placeholder="{{customer.last_name}}"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="profile_details_text">Email Address:</label>
            <input
              type="email"
              name="email"
              placeholder="{{customer.email}}"
              class="form-control"
              value=""
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="profile_details_text">Mobile Number:</label>
            <input
              type="tel"
              name="mobile"
              class="form-control"
              placeholder="{{customer.mobile}}"
              value=""
              pattern="[0-9]{10}"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="profile_details_text">Date Of Birth:</label>
            <input
              placeholder="{{customer.date_of_birth}}"
              type="text"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
              name="date_of_birth"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="profile_details_text">Gender:</label>
            <select name="customer_gender" class="form-control" value="">
              <option value="" disabled selected>{{customer.gender}}</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="profile_details_text">Address</label>
            <input
              type="text"
              name="address"
              placeholder="{{customer.address}}"
              class="form-control"
              value=""
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="Submit" />
          </div>
        </div>
      </div>
      <!-- <button class="g-recaptcha" 
        data-sitekey="6LfbPLkfAAAAAI7_MqAiuL8pnz7w4xN6SMBa0VaZ" 
        data-callback='onSubmit' 
        data-action='submit'>Submit</button> -->

    </form>
  </div>

      
    </div>
</div>
<!-- <script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
    document.getElementById("up-form").submit();
  }
</script> -->

{% endblock %}
